extends layout

block content
  .ui.one.column.padded.grid
    .ui.row.computer.only(style='padding: 10px;')
    .ui.row
      img.ui.centered.image.logo(src='assets/img/logo.png')
    .ui.row.centered
      h1.ui.inverted.header
        .content
          | About Us
    .ui.row
      .two.wide.column
      .twelve.wide.column
        h3.ui.horizontal.divider.inverted.header
          i.folder.outline.icon
          | History
        .ui.raised.large.segment
          p The computing and information disciplines are relatively young. Yet despite their comparative youth, the computing and information disciplines have had an unparalleled effect on almost every aspect of contemporary life. Indeed it is difficult to predict the ultimate place of the computer in our world. It is the express purpose of Upsilon Pi Epsilon to promote the computing and information disciplines and to encourage their contribution to the enhancement of knowledge.
          p Upsilon Pi Epsilon (UPE) was first organized at Texas A&amp;M University, College Station, Texas, in 1967. The international organization now consists of chapters in various colleges and universities in North America and overseas.
      .two.wide.column
    .ui.row
      .two.wide.column
      .twelve.wide.column
        h3.ui.horizontal.divider.inverted.header
          i.file.text.outline.icon
          | Mission Statement
        .ui.raised.large.segment
          p The mission of Upsilon Pi Epsilon is to recognize academic excellence at both the undergraduate and graduate levels in the Computing and Information Disciplines.
          p The Association will accomplish this mission through programs that:
          ul
            li Enable outstanding students to obtain recognition of superior educational achievement that emphasizes the Computing and Information Disciplines as well as liberal arts, sciences, and other professional and interdisciplinary education in the context of individual and societal responsibilities.
            li Assist in maximizing the personal and professional growth of students in UPE by financially supporting scholarships and other creative endeavors that include the discovery, integration, and application of knowledge.
            li Establish significant partnerships with external constituencies interested in promoting and subsidizing high quality computing science education..
            li Seek opportunities to extend individual memberships and chapter activities into additional environments yet to become identified.
      .two.wide.column