extends layout

block content
  .ui.one.column.padded.grid
    .ui.row.computer.only(style='padding: 10px;')
    .ui.row
      img.ui.centered.image.logo(src='assets/img/logo.png')
    .ui.row.centered
      h1.ui.inverted.header
        .content
          | News &amp; Future Events
    .ui.row
      .two.wide.column
      .twelve.wide.column
        .ui.three.stackable.doubling.cards
          .card
            .content
              .header Spring Induction 2017
              .description
                span On March 12, 2017, 9 new members were inducted into UPE. The list of the new members:
                ul
                  li Josiah Bailey
                  li Melanie Chen
                  li Aiden John Cullo
                  li Ryan T. Egan
                  li Zachary Halpern
                  li Joe H. Kim
                  li Julie Kunnumpurath
                  li Miguel Lumapat
                  li Johnathon Van Atta
            .extra.content
              span.left.floated
                i.user.icon
                | 9 new members
              span.right.floated
                a(href='assets/pdf/induction/spring17.pdf', target='_blank')
                  i.external.icon
                  | View Pamphlet
          .card
            .content
              .header Fall Induction 2016
              .description
                span On October 23, 2016, 9 new members were inducted into UPE. The list of the new members:
                ul
                  li Samuel David Bravo
                  li Kaiyik Nip
                  li Ali Arda Eker
                  li Lauren Pagano
                  li Mannan Kasliwal
                  li Alan Plotko
                  li Sam Koved
                  li Nuri Ra
                  li Margaret Lehmann
            .extra.content
              span.left.floated
                i.user.icon
                | 9 new members
              span.right.floated
                a(href='assets/pdf/induction/fall16.pdf', target='_blank')
                  i.external.icon
                  | View Pamphlet
          .card
            .content
              .header Spring Induction 2016
              .description
                span On April 17, 2016, 7 new members were inducted into UPE. The list of new members:
                ul
                  li Juliana Algava
                  li Xinghao Cheng
                  li Brandon Foo
                  li Casey M. Kane
                  li Adam M. Ludwig
                  li Matt Shapiro
                  li Jacob Zwickler
            .extra.content
              span.left.floated
                i.user.icon
                | 7 new members
              span.right.floated
                a(href='assets/pdf/induction/spring16.pdf', target='_blank')
                  i.external.icon
                  | View Pamphlet
          .card
            .content
              .header Fall Induction 2015
              .description
                span On October 18, 2015, 9 new members were inducted into UPE. The list of new members:
                ul
                  li James Bomysoad
                  li Ezgi Demirayak
                  li Batuhan Ertas
                  li Darrin Frodey
                  li Ten-Young Guh
                  li Michael McInerney
                  li Diwen (Steven) Shi
                  li Jordan Shulman
                  li Andrew M Williams
            .extra.content
              span.left.floated
                i.user.icon
                | 9 new members
              span.right.floated
                a(href='assets/pdf/induction/fall15.pdf', target='_blank')
                  i.external.icon
                  | View Pamphlet
          .card
            .content
              .header Spring Induction 2015
              .description
                span On April 19, 2015, 7 new members were inducted into UPE. The list of the new members:
                ul
                  li Matthew Bachman
                  li Yu Heng Chen
                  li Taylor Foxhall
                  li James Grippe
                  li Brian Kim
                  li Vladyslav Patserin
                  li Kelsey Skaarva
            .extra.content
              span.left.floated
                i.user.icon
                | 7 new members
      .two.wide.column
